<br>
<%= form_tag("/articles/search", method: "get") do %>
  <div class="input-group">
    <%= text_field_tag :q, nil, class: 'form-control', placeholder: 'Search keywords separated by comma' %>
    <span class="input-group-btn">
      <%= submit_tag("Search", class:"btn btn-info") %>
    </span>
  </div>
<% end %>
<br>
<%= link_to 'REFRESH', scraper_path, class:"btn btn-info btn-lg btn-block" %>
<br>
<br>
<% @articles.each do |article| %>
  <%= render partial: 'panel', locals: {article: article} %>
<% end %>
