<!--
<% @article.attributes.each_pair do |key, val| %>
  <% if val && !['id','source_id','created_at','updated_at'].include?(key)  %>
    <h2><%= key %></h2>
    <p><%= val %></p>
  <% end %>
<% end %> -->
<h1><%= @article.title %></h1>
<h3>
  <small><%= @article.date_of_publication %>, </small>
  <% if @article.author %>
    <small><%= @article.author.name %>, </small>
  <% end %>
  <small><%= @article.source.name %></small>
</h3>
<br>
<div class="well">
  <%= image_tag(@article.image,class:"img-responsive") %>
  <br>
  <h5><%= @article.summary %></h5>
  <br>
  <div class="row">
    <div class="col-xs-2">
      <%= link_to 'read more', @article.link, class:"btn btn-default btn-sm", target:'_blank' %>
    </div>
    <div class="col-xs-10">
      <% unless @article.tag_list.empty? %>
        <% @article.tag_list.each do |tag| %>
          <div class="pull-right">
            <button type="button" class="btn btn-default btn-xs"><%= tag %></button>&nbsp;
          </div>
        <% end %>
      <% end %>
    </div>
</div>
</div>
<br>
<%= link_to 'Back', :back, class:"btn btn-default" %>
